extends layout

block content
  h1= Contact

  // Comment
  header
    // navigation
    
    // banner
    .banner
      .herotext
        h1 Dogs
        h2 The wonderful antics of our canine friends
  // Intro
  .contact-grid-container
    .intro.p-lr
      h2 Contact Us
      p
        | Vestibulum ut tempor lorem. Nam ut mi mauris. Aliquam quis viverra
        a(href='#' target='_blank') velit.
        |  Sed egestas, velit sit amet
        |           luctus pretium, enim dolor interdum felis, at pretium tellus nibh id
        |           velit. Maecenas semper tincidunt dolor tincidunt fringilla. Fusce
        |           bibendum nunc ac magna elementum, a ultricies nulla posuere. Cras sed
        |           lacus faucibus, ornare diam vitae, dapibus mauris. Ut ac est non
        |           lectus gravida placerat at non lectus. Nunc blandit, elit eu tempor
        |           aliquam, mi libero fringilla nisl, non sagittis massa justo in nunc.
        |           Donec ornare sed arcu nec tempor. Duis nec ipsum varius, viverra lacus
        |           sit amet, sollicitudin arcu.
    // Contact form
    form( method='' action='/thankyou')
      h3 Connect with us
      .form-floating.m-3
        input#fname.form-control(type='text' placeholder='Your name' name='fname')
        label.form-label(for='fname') First Name
      .form-floating.m-3
        input#lname.form-control(type='text' placeholder='Your last name' name='lname')
        label.form-label(for='lname') Last Name
      .form-floating.m-3
        input#emailadd.form-control(type='text' name='mail' placeholder='Email address' required='')
        label.form-label(for='emailadd') Email 
      .form-floating.m-3
        textarea#comment.form-control(name='comment' placeholder='Comment...' rows='5')
        label.form-label(for='comment') Comment or Question
      .p
        label
          input(type='checkbox' name='lab')
          |  Add me to your Newsletter
      button.btn.btn-primary.m-3(type='submit') Submit
      
    // map
    //- .map
    //-   figure
    //-     img(src='img/dogs-825949_small.jpg' alt='dog in a hat')
    //-     figcaption Get me out of this hat
  // footer
  footer


  if errors
    ul
      each error in errors
        li.alert.alert-danger.m3= error
